@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  background-color: #f9f9f9;
  padding: 1em;
}
.polaroid {
  height: 356px;
  width: 320px;
  padding-bottom: 72px;
  padding: 18px 18px 72px 18px;
  box-shadow: 0 0 10px lightgray;
  text-align: center;
}
.polaroid >img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #f1f1f1;
}
.caption {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  margin: 0.5em 0;
}
