@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  background-color: #f9f9f9;
  padding: 1em;
}

.property-listing-container {
  display: grid;
  grid-template-columns: 356px 1em 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "photo-container . details-container";
  margin-bottom: 1em;
}

.polaroid-container {
  grid-area: photo-container;
  display: grid;
  grid-template-columns: 18px 320px 18px;
  grid-template-rows: 18px 320px 18px 54px 18px;
  grid-template-areas:
    ". . ."
    ". photo ."
    ". . ."
    ". caption ."
    ". . .";
  width: 356px;
  box-shadow: 0 0 10px lightgray;
  >img {
    display: block;
    height: 320px;
    width: 320px;
    object-fit: cover;
    grid-area: photo;
  }
  >.caption {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    margin: 0.25em 0 0 0;
    text-align: center;
    grid-area: caption
  }
}

.details-container {
  grid-area: details-container;
}

.cart-container {
  width: 240px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
  padding-left: 0.5em;
}

.cart-indicator {
  text-align: right;
  padding-top: 0.25em;
  height: 1em;
  .cart-icon {
    position: absolute;
    right: 16px;
  }
  .cart-items-count {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 3px;
  }
}
.cart-items-list {
  padding: 0 0.5em 0 0;
}
.cart-total {
  text-align: right;
}
.cart-hidden {
  background-color: transparent;
  >.cart-items-list {
    display: none;
  }
}
